build
public
storybook-static
src/stories
*.test.js
.storybook
.travis.yml
dist/statistics.html
dist/preamble.txt
dist/index.esm.js
dist/index.esm.js.map
dist/index.umd.js
dist/index.umd.js.map
coverage/
.cache
